<!DOCTYPE html>
<html lang="en">
<head>
  <title>BloodyEyesXYZ | {{ title }}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 x=%22-.14em%22 font-size=%2295%22>🌆</text></svg>">
<meta name="description" content="Blogging, Open Source Apps for Windows/Android & much more.">
<meta name="keywords" content="Open Source, Ressource Friendly, Simplified Blog">
<meta name="author, publisher, copyright" content="bloodyeyesblackblood"/>
<meta name="viewport" content="width=device-width, initial-scale=1">


<!-- Auto Theme -->
<meta name="supported-color-schemes" content="dark light">
<meta name="color-scheme" content="dark light">

<!-- Mobile URL Header Color -->
<meta name="theme-color" media="(prefers-color-scheme: light)" content="aliceblue">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="black">

<!-- Stylesheet -->
<link rel="stylesheet" href="/css/style.css" />
</head>
<body>

<nav role="navigation">
		<a id="nlink" href="#" title="Home">🌆</a>
		<a id="nlink" href="#" title="Blog">📄</a>
		<a id="nlink" href="#" title="Projects">💻</a>
		<a id="nlink" href="https://paste.bloodyeyes.xyz/" title="Private By Design Paste-Services">📝</a>
</nav>


  <div class="content">


<main>
    {{ content | safe }}
  </main>
	
</div>
  
  
</body>
</html>
